[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
shortuuid = "*"
maskpass = "*"
tabulate = "*"
python-dotenv = "*"
pytest-mock = "*"
pytest-cov = "*"
mysql-connector-python = "*"
flask = "*"
flask-jwt-extended = "*"
flask-smorest = "*"

[dev-packages]

[requires]
python_version = "3.11"
